.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  margin-top: 30px;
  width: 95%;
  border: 3px solid black;
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  border: 3px solid black;
}

th {
  border: 3px solid black;
}


